@import 'components/sidemenu', 'components/heading', 'theme-overrides.sass', 'bootstrap-overrides/navbar';

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-color: #E3E6EF !important
a
  color: #00B7FF
