.sidemenu {
  width: 280px;
  background: #FFFFFF;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.04), 1px 0 4px 0 rgba(0, 0, 0, 0.1);
  display: block;
  min-width: 280px;
  padding-left: 30px; }
  .sidemenu .list-group {
    margin-bottom: 30px; }
    .sidemenu .list-group:last-of-type {
      margin-bottom: 0px; }
    .sidemenu .list-group .list-group-item {
      padding-left: 0px;
      padding-right: 23px;
      border: 1px solid #EFEFF5;
      border-left-width: 0px;
      border-right-width: 0px;
      font-family: Roboto-Medium;
      font-size: 15px;
      color: #69718A;
      text-align: left; }
      .sidemenu .list-group .list-group-item img:first-of-type {
        text-align: left;
        padding-right: 13px; }
      .sidemenu .list-group .list-group-item .span {
        font-family: Roboto-Medium;
        font-size: 15px;
        color: #6A718A;
        text-align: left; }
      .sidemenu .list-group .list-group-item img:last-of-type {
        text-align: right;
        margin-right: auto;
        float: right;
        padding-top: 5px; }
  .sidemenu .list-group.blue {
    padding: 10px 0 10px 0;
    margin-left: -30px;
    background-image: linear-gradient(135deg, #9CE4D4 0%, #63C4A9 100%);
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.04), 1px 0 4px 0 rgba(0, 0, 0, 0.1); }
    .sidemenu .list-group.blue .list-group-item {
      margin-left: 30px;
      font-family: Roboto-Light;
      font-size: 13px;
      color: #FFFFFF;
      text-align: left;
      background-color: initial;
      border: initial !important;
      padding: 4px 10px 4px 0px; }
      .sidemenu .list-group.blue .list-group-item:last-child {
        border-bottom: initial; }
      .sidemenu .list-group.blue .list-group-item:last-child, .sidemenu .list-group.blue .list-group-item:first-child {
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial; }
      .sidemenu .list-group.blue .list-group-item a {
        color: #FFFFFF; }
      .sidemenu .list-group.blue .list-group-item span {
        display: inline-block; }
      .sidemenu .list-group.blue .list-group-item .badge {
        border: 1px solid #FFFFFF;
        font-weight: initial;
        float: right; }

.heading {
  border: 0 !important;
  padding-top: 15px  !important;
  padding-bottom: 15px  !important; }
  .heading img {
    text-align: left;
    padding-right: 13px;
    float: inherit !important;
    padding-top: initial !important; }
  .heading span, .heading a {
    font-family: Roboto-Medium;
    font-size: 15px;
    color: #6A718A;
    text-align: left; }

.container-fluid {
  padding: 0 0 0 0 !important; }

.navbar {
  background-color: #494D5F; }

.navbar-dark .navbar-nav {
  font-family: Roboto-Regular;
  font-size: 13px;
  color: #ACB0C0;
  text-align: left; }

.navbar-dark .navbar-brand {
  font-family: Roboto-Medium;
  font-size: 13px;
  color: #A2A5B2 !important;
  text-align: left;
  line-height: initial; }
  .navbar-dark .navbar-brand img {
    padding-right: 25px; }

.navbar-footer .navbar-brand, .navbar-footer .navbar .navbar-brand {
  font-family: Roboto-Regular;
  font-size: 11px;
  text-align: left;
  color: #979FB1 !important; }

.navbar-footer .navbar-nav .nav-link, .navbar-footer .navbar-nav .active > .nav-link, .navbar-footer .navbar .navbar-nav .nav-link, .navbar-footer .navbar .navbar-nav .active > .nav-link {
  font-family: Roboto-Medium;
  font-size: 12px;
  text-align: left; }

.navbar-footer.navbar-light, .navbar-footer.navbar-light .navbar {
  background-color: white; }
  .navbar-footer.navbar-light .navbar-nav .nav-link, .navbar-footer.navbar-light .navbar-nav .active > .nav- link, .navbar-footer.navbar-light .navbar .navbar-nav .nav-link, .navbar-footer.navbar-light .navbar .navbar-nav .active > .nav- link {
    color: #8B90A4; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E3E6EF !important; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=style.css.map */