.navbar
	background-color: #494D5F
	
.navbar-dark 
	.navbar-nav
		font-family: Roboto-Regular;
		font-size: 13px;
		color: #ACB0C0;
		text-align: left;
	.navbar-brand
		font-family: Roboto-Medium;
		font-size: 13px;
		color: #A2A5B2 !important;
		text-align: left;
		line-height: initial;
		img
			padding-right: 25px
			
.navbar-footer, .navbar-footer .navbar
	.navbar-brand
		font-family: Roboto-Regular;
		font-size: 11px;
		text-align: left;
		color: #979FB1 !important;
	.navbar-nav .nav-link, .navbar-nav .active>.nav-link
		font-family: Roboto-Medium;
		font-size: 12px;
		text-align: left;
		
.navbar-footer.navbar-light, .navbar-footer.navbar-light .navbar
		background-color: white
		.navbar-nav .nav-link, .navbar-nav .active>.nav-	link
			color: #8B90A4;