<div class="navbar-footer">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand footer" href="#">
			2019 © Abstract Studio LLC. 
		</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
			    <a class="nav-link" href="#">Submit A Ticket</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Contact Us</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">About Us</a>
			  </li>
			</ul>
		</div>
	</nav>
</div>