.heading
	border: 0 !important;
	padding-top: 15px  !important;
	padding-bottom: 15px  !important;
	
	img
		text-align: left;
		padding-right: 13px;
		float: inherit !important;
		padding-top: initial !important;
	span, a
		font-family: Roboto-Medium;
		font-size: 15px;
		color: #6A718A;
		text-align: left;