.sidemenu
	width: 280px;
	background: #FFFFFF;
	box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.04), 1px 0 4px 0 rgba(0, 0, 0, 0.1);
	display: block;
	min-width: 280px;
	padding-left:  30px
	
	.list-group
		margin-bottom: 30px
		&:last-of-type
			margin-bottom: 0px
		.list-group-item
			padding-left: 0px;
			padding-right: 23px;
			border: 1px solid #EFEFF5;
			border-left-width: 0px;
			border-right-width: 0px;
			font-family: Roboto-Medium;
			font-size: 15px;
			color: #69718A;
			text-align: left;
			
			img:first-of-type
				text-align: left;
				padding-right: 13px;
			.span
				font-family: Roboto-Medium;
				font-size: 15px;
				color: #6A718A;
				text-align: left;
			img:last-of-type
				text-align: right;
				margin-right: auto;
				float: right;
				padding-top: 5px;
				
	.list-group.blue
		padding: 10px 0 10px 0
		margin-left: -30px;
		background-image: linear-gradient(135deg, #9CE4D4 0%, #63C4A9 100%);
		box-shadow: 1px 0 0 0 rgba(0,0,0,0.04), 1px 0 4px 0 rgba(0,0,0,0.10);
		
		.list-group-item
			margin-left: 30px;
			font-family: Roboto-Light;
			font-size: 13px;
			color: #FFFFFF;
			text-align: left;
			background-color: initial;
			border: initial !important;
			padding: 4px 10px 4px 0px;
			
			&:last-child
				border-bottom: initial;
			&:last-child, &:first-child
				border-bottom-right-radius: initial;
				border-bottom-left-radius: initial;
			a
				color: #FFFFFF;
			span
				display: inline-block;
			.badge
				border: 1px solid #FFFFFF;
				font-weight: initial
				float: right;