
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark">
	  <a class="navbar-brand" href="#">
	  	<img src="./images/logo.svg"/>
	  	<img src="./images/arrow_right.svg"/>
	  	<span>Navbar</span>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Link</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="content container-fluid">
		<div class="row">
			<div class="col-4">
				<div class="sidemenu">
					<div class="heading">
						<img src="images/icon_data.svg"/>
						<a href="#">Data Collections</a>
					</div>
					<ul class="list-group blue">
					  <li class="list-group-item">
					  	<a href="#">Data Collection</a>
					  	<span class="badge badge-pill">2</span>
					  </li>
					  <li class="list-group-item">
					  	<a href="#">Data Collection</a>
					  	<span class="badge badge-pill">200</span>
					  </li>
					  <li class="list-group-item">
					  	<a href="#">Data Collection</a>
					  	<span class="badge badge-pill">2000</span>
					  </li>
					  <li class="list-group-item">
					  	<a href="#">Data Collection</a>
					  	<span class="badge badge-pill">20000</span>
					  </li>
					</ul>
					<ul class="list-group">
					  <li class="list-group-item">
					  	<img src="images/icon_function.svg"/>
					  	<span>Functions</span>
					  	<img src="images/arrow_right.svg"/>
					  </li>
					  <li class="list-group-item">
				  		<img src="images/icon_parameters.svg"/>
				  		<span>Configurations</span>
				  		<img src="images/arrow_right.svg"/>
					  </li>
					  <li class="list-group-item">Porta ac consectetur ac</li>
					  <li class="list-group-item">Vestibulum at eros</li>
					</ul>
				</div>
			</div>
		    <div class="col-8">
		      One of three columns
		    </div>
		  </div>
		</div>
	</div>
	{{>footer}}
</div>